.app {
  background-color: #fafafa;
  height: 100vh;
}
.app--header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
#logon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
}
