#logon {
  display: flex;
  left: 50%;
  gap: 2rem;
}

#signIn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1rem;
}

#signUp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1rem;
}
